/* For Log In */
.loginMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  margin-top: calc(10% + 60px);
  min-width: 50vw;
  min-height: 20vw;
  border-radius: 10px;
}

.card-content.blue {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.SignIn-Up-Button {
  display: flex;
  justify-content: space-around;
}

a {
  cursor: pointer;
}
